<% provide(:title, "About") %>

    <p><h1><center>ABOUT</center></h1></p>

    <p><h3>What is Jandodus App?</h3></p>
      <p>Janodus App is a web application written with Ruby on Rails, by Jan Viloria. The application allows for microblogging- much like Twitter.
    </p>
