<% provide(:title, "Home") %>

<h1><center>Sample Application</center></h1>
<h3>This is a sample Ruby on Rails application by Janodus.
<br>If you're interested in getting in touch, contact me at: @Janodus.</h3>
